<ul class="nav navbar-nav">
<%# <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
  <li><%= link "Fruits", to: Routes.category_path(@conn, :show, "fruits") %></li>
  <li><%= link "Vegetables", to: Routes.category_path(@conn, :show, "vegetables") %></li>
</ul>
